{% extends "layout.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
<p>

    Lenovo'nun hikayesi her zaman daha iyi bir dünya yaratmak için bilgi işlem zekasını şekillendirmekle ilgili olmuştur. Dünyanın en geniş teknoloji ürünleri portföyüyle, bireylerin, toplulukların, işletmelerin ve tüm nüfusun potansiyellerini gerçekleştirmek için ihtiyaç duyduğu ürünler, çözümler, yazılımlar ve hizmetler aracılığıyla Herkes için Daha Akıllı Teknoloji vizyonumuzu sunuyoruz.
    Günümüzde endüstriler, yaptıklarını ve nasıl yaptıklarını yeniden şekillendiriyor ve yeniden şekillendiriyor. Sanal sağlık. Uzaktan eğitim. Daha akıllı alışveriş. Herkes için daha akıllı teknoloji yapılmalıdır. Fortune Global 500 teknoloji şirketi ve Fortune Magazine'in Dünyanın En Beğenilen Şirketlerinden biri olarak küresel düşünüyor ve hareket ediyoruz. Atılımlar bir balonun içinde doğmaz ve teknolojiyi akıllı hale getirmek için her türden insanı ve bakış açısını gerektirir. Teknolojinin yapabileceklerinin sınırlarını yeniden tanımlamak ve genişletmek için 180 pazardaki müşterilerimize hizmet vermek üzere 63.000'den fazla çalışanımızın çeşitliliğinden yararlanmaktan gurur duyuyoruz.
    Birlikte çalıştığımızda toplumu en çok etkileyebileceğimize inanıyoruz. Bu yüzden taahhütte bulunduk. Etik bir dijital gelecek için teknoloji endüstrisi genelinde paylaşılan değerleri tanımlayan GSMA Dijital Beyannamesi'ni
    imzaladık.<br>
<br> <b>Ramazan Alkan
<br>Kütahya Dumlupınar Üniversitesi
<br>201951442013</b>

</p>
{% endblock body %}