{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{ article.title }}</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2"> {{ article.author.username }} tarafından yayımlandı</div>
                <hr>
                <p>{{ article.created_date }}</p>
                <hr>
               <!--Preview image-->
               {% if article.article_image %}
               <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="" /> {% endif %}
            </header>
            <!-- Post content-->
           <p class="lead">
               {{ article.content|safe }}
           </p>
        </article>

        <h4> Yorumlar</h4>
        <hr>

        {% if comments %} {% for comment in comments %}
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                <div class="media-body">
                    <h5 class="mt-0">{{ comment.comment_author }}</h5>
                    {{ comment.comment_date }} <br> {{ comment.comment_content}}
                </div>
            </div>
            {% endfor %} {% else %}
            <div class="alert alert-danger">
                Bu makaleye yorum yazılmamış. İlk yorum yapan siz olun.
            </div>

            {% endif %}



        <div class="card my-4">
            <h5 class="card-header">Yorum Ekle:</h5>
            <div class="card-body">

                <form method="POST" action="{% url 'article:comment' article.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="formGroupExampleInput">İsim</label>
                        <input name="comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi Girin...">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Yorum</label>
                    </div>
                    <div class="form-group">
                        <textarea name="comment_content" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">EKLE</button>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock body %}